*{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

nav {
    background-color: #2d3436;
    margin-bottom: 2%;
    padding: 1.6%;
}

.logo-container{
    display: inline;
    padding:10px;
}

nav ul{
    display: inline;
    padding: 20px;
    margin-left: 5%;
}

nav ul li{
    display: inline;
}

nav ul li a{
    text-decoration: none;
    color:#ffffff;
    font-weight: bold;
    padding: 20px;
}

#main{
    margin-left: 10%;
    margin-right: 10%;
}

article{
    margin: 12px;
}

figure img{
    width:100%;
}

figcaption{
    margin-left: 10px;
    font-size: 0.9rem;
}

a{
    text-decoration: none;
    color: #0984e3;
    font-weight: bold;
}

figure{
    margin-top: 7px;
    margin-bottom: 7px;
}

footer{
    background-color: #2d3436;
    padding: 20px;
    color:#ffffff;
}

label{
    display: block;
    padding-bottom: 3px;
    padding-top: 3px;
}

.section-footer{
    display: inline-block;
    margin-right: 15%;
    margin-left: 15%;
}

fieldset{
    border: 0;
}

.input-group{
    padding: 7px;
}

input[type=email]{
    padding: 7px;
    border: 0;
    border-radius: 4px;
}

input[type=submit]{
    padding-top: 6px;
    padding-bottom: 6px;
    border: 0;
    background-color: #d35400;
    color:#ffffff;
    font-weight: bold;
    border-radius: 4px;
    font-size: 1rem;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: normal;
}

label span{
    color:  #d35400;
}


